<span class="span-24 section-header"> Create a new task </span>
<hr />

<% form_for :task, @task, :url => {:action => :create } do |f| %>
	<%= f.label "Task name: " %>
	<%= f.text_field :name %><br/>
	
	<%= f.label "For Organization: " %>
	
	<%= select_tag :organization_id, options_for_select(@orgs_array)%> <br/>
	
	<%= f.label "Description: " %>
	<%= f.text_field :description %><br/>
	<%= f.label "Task Points: " %>
	<%= select_tag :point, options_for_select ([['1',1],['2',2],['3',3]]) %> <br/>
	<%= f.label "Expected Due Date: "%>
	<%= select_date Date.today, :prefix => :due_date %><br/>
	<%= f.submit "Create Task" %> 
<% end %>
<br />

