<div class='ds-title-section'>
	<div class="ds-section-header"> New Task </div>
	<div class="ds-subsection">  <%= @project.name.capitalize %></div>
</div>

<table id='new-task-table'>
<% form_for :task, @task, :url => {:action => :create } do |f| %>
	<%= hidden_field :project, :id %>
	<tr>
	<td><%= f.label "Task name: " %></td>
	<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
	<td><%= f.label "Description: " %></td>
	<td><%= f.text_field :description %></td>
	</tr>
	
	<tr>
		<td><%= f.label "Task Points: " %></td>
		<td><%= select_tag :point, options_for_select ([['1',1],['2',2],['3',3]]) %> </td>
	</tr>
	
	<tr>
		<td><%= f.label "Expected Due Date: "%></td>
		<td><%= select_date Date.today, :prefix => :due_date %></td>
	</tr>
	
	<tr>
		<td><%= f.label "Assign To Group: "%></td>
		<td>
			<select name='group'>
				<option value='-1'> None </option>
				<% @groups.each do |group| %>
					<option value=<%= group.id %>> <%= group.name %> </option>
				<% end %>
			</select>
		</td>
	</tr>
	
	<tr>
		<td></td>
		<td>	<%= f.submit "Create Task" %> </td>
	</tr>

<% end %>
</table>

