<div class='ds-title-section'>
	<div class="ds-section-header"> <%= @task.name.capitalize%></div>
	<div class="ds-subsection">For project: <%= @project.name.capitalize %></div>
</div>

<table id='edit-task-table'>
<% form_for :task, @task, :url => {:action => :save } do |f| %>
	<%= hidden_field :task, :id %>
	<tr>
	<td><%= f.label "Task name: " %></td>
	<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
	<td><%= f.label "Description: " %></td>
	<td><%= f.text_field :description %></td>
	</tr>
	
	<tr>
		<td><%= f.label "Task Points: " %></td>
		<td><%= select_tag :point, options_for_select ([['1',1],['2',2],['3',3]], @task.point) %> </td>
	</tr>
	
	<tr>
		<td><%= f.label "Expected Due Date: "%></td>
		<td><%= select_date Date.today, :prefix => :due_date %></td>
	</tr>
	
	<tr>
		<td></td>
		<td>	<%= f.submit "Save Changes" %> </td>
	</tr>

<% end %>
</table>

