<% options = "'<select name='members[]'>"%>
<% @users.each do |user| %>
	<% options += '<option value=' + user.id.to_s + '>' +  user.first_name.capitalize.to_s + ' ' + user.last_name.capitalize + '  (E-mail: ' + user.email.to_s + ') </option >'%>
<% end %>
<% options += "</select>'" %>

<script type="text/javascript">

var max = 6;
var remove = false;
var i = 0;

function removeElement(id) {
  var element = document.getElementById(id);
  element.parentNode.removeChild(element);
}

function addSelect(){
	if( i < 6){
		var selects = "<div id='member-div remove-" +  i + "'>";
		selects += document.getElementById('member-div').innerHTML;
		selects += "</div>";
		
		document.getElementById('members-div').innerHTML += selects;
		
		if(remove == false){
			remove = true;
			document.getElementById('remove-member').innerHTML += "<a href='#' onClick='removeSelect()'> [-]</a>";
		}
		i++;
	}
}

function removeSelect(){
	if( i > 0){
		i--;
		removeElement('member-div remove-' + i );
		
		if(i == 0){
			remove = false;
			document.getElementById('remove-member').innerHTML = '';
		}
	}
}

function removeElement(divNum) {
  var d = document.getElementById('members-div');
  var olddiv = document.getElementById(divNum);
  d.removeChild(olddiv);

}

</script>
<div class='ds-title-section'>
	<div class="ds-section-header"> Create a New Group (<%= @org.name %>) </div>
	<div class="ds-subsection-quote">"Individual commitment to a group effort - that is what makes a team work, a company work, a society work, a civilization work. " - Vince Lombardi</div>
</div>


<div id='new-group-form'>
			<form method='post' action='/groups/create' id="my-demo-form">

				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		  	<input type="hidden" name="organization[id]" value="<%= @org.id %>">
			<table id='new-group-table'>
				<tr>
					<td><%= label_tag "Group Name: " %></td>
					<td><%= text_field_tag 'name' %></td>
				</tr>			
				<tr >
					<td><label for='mem'>Members to include:</label></td>
					
					<td>
						<div id='members-div'>
							<input type="hidden" value="0" id="theValue" />
							<div id='member-div'>
								<select name='members[]'>
									<% @users.each do |user| %>
										<option value=<%= user.id.to_i %>> <%= "#{user.first_name.capitalize} #{user.last_name.capitalize} (E-mail: #{user.email.capitalize})"%></option>
									<% end %>
								</select>
							</div>
						</div>
						<div id='add-remove'>
						<div id ='add-member'><a href='#' onClick='addSelect()' > [+] </a></div>
						<div id ='remove-member'></div>
						</div>
					</td>
					
				</tr>
				
				<tr>
					<td></td>
					<td id='create-group'>	
						<%= submit_tag "Create Group" %> 
					</td>
				</tr>
				</table>

</div>