<% options = "'<select name='members[]'>"%>
<% @users.each do |user| %>
	<% options += '<option value=' + user.id.to_s + '>' +  user.first_name.capitalize.to_s + ' ' + user.last_name.capitalize + '  (E-mail: ' + user.email.to_s + ') </option >'%>
<% end %>
<% options += "</select>'" %>

<script type="text/javascript">

var input
$('#add-trigger').click(function(){
	var input = "<option value='1'>1</option>"
	$('#members-div').append(input);
})

</script>
<div class='ds-title-section'>
	<div class="ds-section-header"> Create a New Group (<%= @org.name %>) </div>
	<div class="ds-subsection-quote">"Individual commitment to a group effort - that is what makes a team work, a company work, a society work, a civilization work. " - Vince Lombardi</div>
</div>


<div id='new-group-form'>
			<form method='post' action='/groups/create' id="my-demo-form">

				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
		  <%= hidden_field :organization, :id %>
			<table id='new-group-table'>
				<tr>
				<td><%= label_tag "Group Name: " %></td>
				<td><%= text_field_tag 'name' %></td>
				</tr>
			
				<tr>
				<td><%= label_tag "Short Description: " %></td>
				<td><%= text_field_tag 'description' %></td>
				</tr>
			
				<tr>
					<td><label for='new-members[]'>Members:</label></td>
					<td>
						<div id='members-div'>
							<div id='member-div'>
								<select name='members[]'>
									<% @users.each do |user| %>
										<option value=<%= user.id.to_i %>> <%= "#{user.first_name.capitalize} #{user.last_name.capitalize} (E-mail: #{user.email.capitalize})"%></option>
									<% end %>
								</select>
							</div>
						</div>
						<span id='add-trigger'><a href='#' onClick='addSelect()'>Add New Member</a></span>
					</td>
				</tr>
			
			
				<tr>
					<td></td>
					<td id='create-group'>	
						<%= submit_tag "Create Group" %> 
					</td>
				</tr>
				</table>

</div>