<div class="span-24">
  <%= render :partial => 'shared/error_messages', :locals => {:target => @user } %>
<%= form_for @user, :method => 'PUT' do |f| %>
  <br />
  <%= f.label "Enable SMS" %>
  <%= f.check_box :sms_enabled %>
  <%= f.text_field :phone_number, :title => "10 digit phone number" %>
  <%= f.submit "Save" %>
<% end %>
</div>
