<h1>Create A New Project for <%= @org.name %></h1>

<%= flash[:error] %>
<% form_for :project, @project, :url => '/projects/create' do |f| %>
	<%= f.label "Name:" %>
	<%= f.text_field :name %><br/> 
	<%= f.label "Description:" %>
	<%= f.text_area :description, :size => "60x12" %> <br/>
	<%= hidden_field(:org, :id) %>
	
	<% #Ideally we should have a field that pops up everytime add task is pressed %>
	<%= submit_tag "Create Project" %> 
<% end %>