<script type="text/javascript">
	$(function() 
	    { 
	        $("table").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
					$('#invitation_form').hide();
	    } 
	);
	
	$('#invite_link').click(function() {
	    $('#invitation_form').slideDown();
	});
</script>

<div class='ds-title-section'>
	<div class="ds-section-header"> <%= @project.name %> </div>
	<div class="ds-subsection">  <%= @org.name.capitalize %></div>
	<div class='ds-add'>
		<% if @org.creator_id == @current_user.id %>
		<div class='icon'> 
			<a href=<%= "/tasks/new/#{@project.id}" %>>
			<%= image_tag "plus-sign-blue.png"%>
			</a>
		</div>
		<div class='add-link'>
			<%= link_to "Add a new task", "/tasks/new/#{@project.id}" %> 	
		</div>
	</div>
	<% end%> 
</div>


<div id='projects-tasks'>
	<div class='ds-subtitle content-subtitle'>
		<a>Tasks</a>
	</div>
	
	<div id='tasks-list'>
		<% if @tasks.empty? %>
	           There aren't any tasks associated with this project
		<% else %>
                  <%= render:partial => 'shared/tasks_table' %>
		<% end %>
	</div>
</div>
