<script type="text/javascript">
	$(function() 
	    { 
	        $("table").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
					$('#invitation_form').hide();
	    } 
	);
	
	$('#invite_link').click(function() {
	    $('#invitation_form').slideDown();
	});
</script>

<div class='ds-title-section'>
	<div class="ds-section-header"> <%= @project.name %> </div>
	<div class="ds-subsection">  <%= @org.name.capitalize %></div>
	<div class='ds-add'>
		<% if @org.creator_id == @current_user.id %>
		<div class='icon'> 
			<a href=<%= "/tasks/new/#{@project.id}" %>>
			<%= image_tag "plus-sign-blue.png"%>
			</a>
		</div>
		<div class='add-link'>
			<%= link_to "Add a new task", "/tasks/new/#{@project.id}" %> 	
		</div>
	</div>
	<% end%> 
</div>


<div id='projects-tasks'>
	<div class='ds-subtitle content-subtitle'>
		<a>Tasks</a>
	</div>
	
	<div id='tasks-list'>
		<% if @tasks.empty? %>
			There is no task associated to this project
		<% else %>
		<table id='tasks-table' class='tablesorter'>
			<thead>
				<tr>
					<th>Task Name</th>
					<th>Task Description</th>
					<th>Group Assigned** Note: should be a list of usernames with reps </th>
					<th>Deadline</th>
					<th>Points</th>
					<th>Status** Note: tasks should be started once they're created </th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<% @tasks.each do |task| %>
					<tr>
						<td><%= link_to task.name, task_path(task) %></td>
						<td><%= task.description %></td>
						<td><%= task.group.nil? ? "N/A" : (link_to task.group.name, group_path(task.group))  %></td>
						<td>TODO <%#= task.due.to_date %></td>
						<td><%= task.point %></td>
						<td><%= translate_task_status task.status %></td>
						<td id='task-action'>
							<% form_tag("/tasks/#{task.id}", :method => :get) do %>
								<%= submit_tag "Edit", :id => "submit", :name => "submit" %>
							<% end -%>
							<% form_tag("/tasks/#{task.id}", :method => :delete) do %>
							  <%= submit_tag "Delete", :id => "submit", :name => "submit" %>	
							<% end -%>
						</td>
					</tr>
				<% end %>
			</tbody>
			
		</table>
		<% end %>
	</div>
</div>
