<div class='ds-title-section'>
	<div class="ds-section-header"> Organizations </div>
	<div class="ds-subsection"> List of organizations that you are involved in</div>
	<div class="ds-add">
		<div class='icon'> 
			<a href='organizations/new'>
			<%= image_tag "plus-sign-blue.png"%>
			</a>
		</div>
		<div class='add-link'>
			<%= link_to "Create new organization", new_organization_path %> 	
		</div>
	</div>
</div>

<div id='organizations'>
	
	<% if  @my_orgs.empty? and @joined_orgs.empty? %>
		You are not a part of any organization. Create or join one now!
	<% else %>
		<table id='organizations-table' width=75%>
			<tr>
				<th>
					Organization Name
				</th>
				<th>
					Short Description
				</th>
				<th>
					Owner
				</th>
			</tr>
			<% 	count = 0 %>
			
			
			<% @joined_orgs.each do |org| %>
				<tr class= <%= count.even? ? 'even' : 'odd' %> >
					<td><%= org.name %></td>
					<td><%= org.description %></td>
					<% if org.creator_id == @current_user.id %>
							<td class='you'> <%= @current_user.first_name.capitalize + " " + @current_user.last_name.capitalize %></td>
					<% else %>
							<% owner = User.find(org.id) %>
							<td><%= owner.first_name.capitalize + " " + owner.last_name.capitalize %></td>
					<% end%>
				</tr>
			<% count += 1 %>
			<% end %>
			
		</table>
	<% end %>
	
</div>


