<script type="text/javascript">
	$(function() 
	    { 
	        $("table").tablesorter({sortList:[[0,0],[2,1]], widgets: ['zebra']});
					$('#invitation_form').hide();
	    } 
	);
	
	$('#invite_link').click(function() {
	    $('#invitation_form').slideDown();
	});
</script>

<div class='ds-title-section'>
	<div class="ds-section-header"> <%= @org.name %> </div>
	<div class="ds-subsection">Created by:  <%= @creator.first_name.capitalize + " " + @creator.last_name.capitalize%></div>
	<div class='ds-add'>
		<% if @org.creator_id == @current_user.id %>
		<div class='icon'> 
			<a href=<%= "/projects/new/#{@org.id}" %>>
			<%= image_tag "plus-sign-blue.png"%>
			</a>
		</div>
		<div class='add-link'>
			<%= link_to "Start a new project", "/projects/new/#{@org.id}" %> 	
		</div>
	</div>
	<div class="ds-add">
		<div class='icon'> 
			<a href='organizations/new'>
			<%= image_tag "plus-sign-blue.png"%>
			</a>
		</div>
		<div class='add-link'>
			<%= link_to "Create a new group", new_organization_path %> 	
		</div>
	</div>
	<div class="ds-add">
		<div class='icon'> 
			<a href='organizations/new'>
			<%= image_tag "plus-sign-green.png"%>
			</a>
		</div>
		<div class='add-link'>
			<div><a href=<%= "/invitations/new/#{@org.id}" %> >Invite User</a></div>
		</div>
	</div>
	<% end%> 
</div>

<div id='current-projects'>
	<div class='ds-subtitle content-subtitle'>
		<a href="#?w=500" rel="pop_project">Projects</a>
	</div>
	<div id='projects-org-list'>
		<% if @projects.empty? %>
			No project in progress
		<% else %>
			<table id='projects-org-table' class='tablesorter'>
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Short Description</th>
						<th>Progress</th>
					</tr>
				</thead>
				<tbody>
					<% @projects.each do |project| %>
						<% num = rand(100)%>
							<tr>
								<td><%= link_to project.name, "/projects/#{project.id}" %></td>
								<td><%= project.description %></td>
								<td>
									<div class="ui-progressbar ui-widget ui-widget-content ui-corner-all">
								   <div style=<%= "'width: #{num}%'" %> class="ui-progressbar-value ui-widget-header ui-corner-left"><div class='percentage'> <%= "#{num}%" %> </div> </div>
									</div>
								</td>
							</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	</div>
</div>


<div id='groups-org'>
	<div class='ds-subtitle content-subtitle'>
		Groups
	</div>
	<% if @groups.empty? %>
		This organization currently has no group.
	<% else %>
		<table id='groups-org-table' class='tablesorter'>
			<thead>
				<tr>
					<th>Group Name</th>
					<th>Tasks Assigned</th>
					<th>Progress</th>
				</tr>
			</thead>
		
			<tbody>
				<tr>
					<td>Sample Group 2</td>
					<td>Task Assigned 2</td>
					<td><%= "#{rand(100)}%" %></td>
				</tr>
			
				<tr>
					<td>Sample Group 1</td>
					<td>Task Assigned 1</td>
					<td><%= "#{rand(100)}%" %></td>
				</tr>
			
			</tbody>
		</table>
	<% end %>
</div>





